.Header {
  color: blue;
  height: 100px;
  background-color: lightgoldenrodyellow;
  padding: 5px;
  margin: 0;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  top: -10px;
  
  h1 {
    text-align: center;
    background: transparent;
    font-family: impact;
  }
}